<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377205793927-26o2hrhdkib99vck5340alji9irmdan6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377205793927-26o2hrhdkib99vck5340alji9irmdan6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377205793927-i3jnjf485l7pd0lvltjbkcccgk2pis9n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbFDbc1o16YoNXl-pKK1j33lvVZe-5_3k</string>
	<key>GCM_SENDER_ID</key>
	<string>377205793927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.FamilyDay.ios</string>
	<key>PROJECT_ID</key>
	<string>family-day-2a6d7</string>
	<key>STORAGE_BUCKET</key>
	<string>family-day-2a6d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377205793927:ios:f27ff390639ac87e59c422</string>
	<key>DATABASE_URL</key>
	<string>https://family-day-2a6d7.firebaseio.com</string>
</dict>
</plist>